<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <p-toast position="bottom-center" key="t1"></p-toast>
        <p-confirmDialog
          [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          key="c1"
        ></p-confirmDialog>
        <div class="row mt-4 mb-4">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Customer Master</h4>
                <div class="table-responsive" *ngIf="menuAccess">
                  <p-table
                    #dt
                    [value]="customerMaster"
                    [rows]="10"
                    [paginator]="true"
                    [loading]="loading"
                    [globalFilterFields]="['customer_name','customer_category', 'customer_titleofprogram', 'customer_expectedskills']"
                    [rowsPerPageOptions]="[10,25,50]"
                  >
                    <ng-template pTemplate="caption">
                      <div class="row justify-content-between">
                        <div class="col-md-3">
                          <button class="btn btn-primary" (click)="add()">
                            Add New
                            <i class="mdi mdi-plus-circle-multiple-outline"></i>
                          </button>
                        </div>
                        <div class="col-md-3">
                          <!-- <button
                    type="button"
                    class="btn btn-success"
                    (click)="exportExcel()"
                    pTooltip="CSV"
                    tooltipPosition="bottom"
                  >
                    <i class="fas fa-file-excel"></i> Export Excel
                  </button> -->
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="text"
                              (input)="dt.filterGlobal($event.target.value, 'contains')"
                              placeholder="Search..."
                            />
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr class="text-center">
                        <th pSortableColumn="customer_name">
                          Customer Name
                          <p-sortIcon field="customer_name"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="customer_category">
                          Category Name
                          <p-sortIcon field="customer_category"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="customer_titleofprogram">
                          Progran Title
                          <p-sortIcon field="customer_titleofprogram">
                          </p-sortIcon>
                        </th>
                        <th pSortableColumn="customer_expectedskills">
                          Expected Skills
                          <p-sortIcon field="customer_expectedskills">
                          </p-sortIcon>
                        </th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-customer
                      let-ri="rowIndex"
                    >
                      <tr>
                        <td>{{customer.customer_name}}</td>
                        <td>
                          {{customer.customer_category}}
                        </td>
                        <td>
                          {{customer.customer_titleofprogram}}
                        </td>
                        <td>
                          {{customer.customer_expectedskills}}
                        </td>
                        <td>
                          <button
                            class="btn btn-warning mr-2"
                            (click)="edit(customer)"
                          >
                            <i class="mdi mdi-pencil-box"></i>
                          </button>

                          <button
                            class="btn btn-danger"
                            (click)="delete(customer.customer_id)"
                          >
                            <i class="mdi mdi-delete"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          <h4>No Records Found.</h4>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="container align-item-center" *ngIf="!menuAccess">
                  <h1 class="text-center" style="padding: 80px 20px;">
                    OOPS!!! You don't have access to this Page...
                  </h1>
                  <p class="text-center">Please Contact Administrator</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p-dialog
          [contentStyle]="{'overflow':'scroll'}"
          header="Customer Master"
          [(visible)]="displayBasic"
          [style]="{width: '80vw'}"
          [baseZIndex]="10000"
          [closable]="false"
          [maximizable]="true"
        >
          <p-toast key="t2"></p-toast>
          <p-confirmDialog
            [style]="{width: '30vw'}"
            [baseZIndex]="10000"
          ></p-confirmDialog>
          <div class="row justify-content-center">
            <div class="co1-12 col-8">
              <form class="forms-sample" [formGroup]="customerMasterForm">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Customer Name</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      pInputText
                      class="form-control"
                      placeholder="Customer Name"
                      formControlName="customer_name"
                    />
                    <div
                      *ngIf="submitted && f.customer_name.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.customer_name.errors.required">
                        Customer Name is required
                      </div>
                    </div>
                    <div
                      class="alert alert-danger"
                      *ngIf="duplicateCustomerNameError"
                    >
                      Customer Name already exist
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"
                    >Customer Category</label
                  >
                  <div class="col-sm-6">
                    <p-dropdown
                      [options]="categoryTypeDropdown"
                      [filter]="true"
                      [showClear]="true"
                      placeholder="Select Customer Category"
                      [resetFilterOnHide]="true"
                      formControlName="customer_category"
                    >
                    </p-dropdown>
                    <div
                      *ngIf="submitted && f.customer_category.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.customer_category.errors.required">
                        Customer Category is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"
                    >Title of Program</label
                  >
                  <div class="col-sm-6">
                    <input
                      type="text"
                      pInputText
                      class="form-control"
                      placeholder="Title of Program"
                      formControlName="customer_titleofprogram"
                    />
                    <div
                      *ngIf="submitted && f.customer_titleofprogram.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.customer_titleofprogram.errors.required">
                        Title is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Expected Skills</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      pInputText
                      class="form-control"
                      placeholder="Expected Skills"
                      formControlName="customer_expectedskills"
                    />
                    <div
                      *ngIf="submitted && f.customer_expectedskills.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.customer_expectedskills.errors.required">
                        Expected Skill is required
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-around">
            <button
              class="btn btn-outline-primary"
              (click)="save()"
              [disabled]="saveLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': saveLoading, 'fas fa-save': !saveLoading}"
              ></i>
              Save
            </button>
            <button class="btn btn-outline-dark" (click)="reset()">
              <i class="fas fa-undo"></i> Reset
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="cancel()"
              [disabled]="cancelLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': cancelLoading, 'far fa-times-circle': !cancelLoading}"
              ></i>
              Cancel
            </button>
          </div>
        </p-dialog>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
