<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <p-toast position="bottom-center" key="t1"></p-toast>
        <p-confirmDialog
          [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          key="c1"
        ></p-confirmDialog>
        <div class="row mt-4 mb-4">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Customer Master Table</h4>
                <button class="btn btn-primary float-right" (click)="add()">
                  <i class="mdi mdi-plus-circle-multiple-outline"></i> Add
                  Customer Master
                </button>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-center">
                        <th>Name</th>
                        <th>Category</th>
                        <th>Progran Title</th>
                        <th>Expected Skills</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let customer of customerMaster"
                        class="text-center"
                      >
                        <td>{{customer.customer_name}}</td>
                        <td>
                          {{customer.customer_category}}
                        </td>
                        <td>
                          {{customer.customer_titleofprogram}}
                        </td>
                        <td>
                          {{customer.customer_expectedskills}}
                        </td>
                        <td>
                          <button
                            class="btn btn-primary mr-4"
                            (click)="edit(customer)"
                          >
                            <i class="mdi mdi-pencil-box"></i> Edit
                          </button>

                          <button
                            class="btn btn-danger"
                            (click)="delete(customer.customer_id)"
                          >
                            <i class="mdi mdi-delete"></i> Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p-dialog
          [contentStyle]="{'overflow':'scroll'}"
          header="Category Master"
          [(visible)]="displayBasic"
          [style]="{width: '80vw'}"
          [baseZIndex]="10000"
          [closable]="false"
        >
          <p-toast key="t2"></p-toast>
          <p-confirmDialog
            [style]="{width: '30vw'}"
            [baseZIndex]="10000"
          ></p-confirmDialog>
          <div class="row justify-content-center">
            <div class="co1-12 col-8">
              <form class="forms-sample" [formGroup]="customerMasterForm">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Customer Name</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Customer Name"
                      formControlName="customer_name"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"
                    >Customer Category</label
                  >
                  <div class="col-sm-6">
                    <select
                      class="form-control"
                      formControlName="customer_category"
                    >
                      <option value="">Select Category Type..</option>
                      <option value="true">Technical</option>
                      <option value="false">Commercial</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"
                    >Title of Program</label
                  >
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Title of Program"
                      formControlName="customer_titleofprogram"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Expected Skills</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Expected Skills"
                      formControlName="customer_expectedskills"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-around">
            <button class="btn btn-outline-primary" (click)="save()">
              <i class="fas fa-save"></i> Save
            </button>
            <button
              class="btn btn-outline-dark"
              (click)="customerMasterForm.reset()"
            >
              <i class="fas fa-save"></i> Reset
            </button>
            <button class="btn btn-outline-danger" (click)="cancel()">
              <i class="fas fa-save"></i> Cancel
            </button>
          </div>
        </p-dialog>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
