<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <p-toast position="bottom-center" key="t1"></p-toast>
        <p-confirmDialog
          [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          key="c1"
        ></p-confirmDialog>
        <div class="row mt-4 mb-4">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Category Master</h4>
                <div *ngIf="menuAccess">
                  <p-table
                    #dt
                    [value]="categoryMaster"
                    [rows]="10"
                    [paginator]="true"
                    [showCurrentPageReport]="true"
                    [totalRecords]="totalRecords"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10,25,50]"
                    [loading]="loading"
                    [globalFilterFields]="['category_name','category_type', 'cateogry_applicable_to']"
                  >
                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="caption">
                      <div class="row justify-content-between">
                        <div class="col-md-3">
                          <button
                            class="btn btn-primary"
                            (click)="addCategory()"
                          >
                            Add New
                            <i class="mdi mdi-plus-circle-multiple-outline"></i>
                          </button>
                        </div>

                        <div class="col-md-3">
                          <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="search"
                              (input)="dt.filterGlobal($event.target.value, 'contains')"
                              placeholder="search..."
                            />
                          </span>
                        </div>
                      </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                      <tr>
                        <th pSortableColumn="category_name">
                          Category Name
                          <p-sortIcon field="category_name"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="category_type">
                          Category Type
                          <p-sortIcon field="category_type"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="cateogry_applicable_to">
                          Category Applicable To
                          <p-sortIcon field="cateogry_applicable_to">
                          </p-sortIcon>
                        </th>
                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                      <tr>
                        <td>{{category.category_name}}</td>
                        <td>{{category.category_type}}</td>
                        <td>{{category.cateogry_applicable_to}}</td>
                        <td>
                          <button
                            class="btn btn-warning mr-4"
                            (click)="edit(category)"
                          >
                            <i class="mdi mdi-pencil-box"></i>
                          </button>

                          <button
                            class="btn btn-danger"
                            (click)="deleteUser(category.category_id)"
                          >
                            <i class="mdi mdi-delete"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          <h4>No Records Found.</h4>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="container align-item-center" *ngIf="!menuAccess">
                  <h1 class="text-center" style="padding: 80px 20px;">
                    OOPS!!! You don't have access to this Page...
                  </h1>
                  <p class="text-center">Please Contact Administrator</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p-dialog
          header="Category Master"
          [(visible)]="displayBasic"
          [style]="{width: '80vw'}"
          [baseZIndex]="10000"
          [closable]="false"
          [maximizable]="true"
        >
          <p-toast key="t2"></p-toast>
          <p-confirmDialog
            [style]="{width: '30vw'}"
            [baseZIndex]="10000"
          ></p-confirmDialog>
          <div class="row justify-content-center">
            <div class="co1-12 col-8">
              <form class="forms-sample" [formGroup]="categoryMasterForm">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Category Name</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      class="form-control"
                      pInputText
                      placeholder="Category Name"
                      formControlName="category_name"
                    />
                    <div
                      *ngIf="submitted && f.category_name.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.category_name.errors.required">
                        Category Name is required
                      </div>
                    </div>
                    <div
                      class="alert alert-danger"
                      *ngIf="duplicateCategoryNameError"
                    >
                      Category Name already exist
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Category Type</label>
                  <div class="col-sm-6">
                    <p-dropdown
                      [options]="categoryTypeDropdown"
                      [filter]="true"
                      [showClear]="true"
                      placeholder="Select Category Type"
                      [resetFilterOnHide]="true"
                      formControlName="category_type"
                    >
                    </p-dropdown>
                    <div
                      *ngIf="submitted && f.category_type.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.category_type.errors.required">
                        Category type is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label"
                    >Category Applicable To</label
                  >
                  <div class="col-sm-6">
                    <p-dropdown
                      [options]="categoryApplicableToDropdown"
                      [filter]="true"
                      [showClear]="true"
                      placeholder="Select Category Applicable To"
                      [resetFilterOnHide]="true"
                      formControlName="cateogry_applicable_to"
                    >
                    </p-dropdown>
                    <div
                      *ngIf="submitted && f.cateogry_applicable_to.errors"
                      class="alert alert-danger"
                    >
                      <div *ngIf="f.cateogry_applicable_to.errors.required">
                        Category Applicable to is required
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-around">
            <button
              class="btn btn-outline-primary"
              (click)="save()"
              [disabled]="saveLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': saveLoading, 'fas fa-save': !saveLoading}"
              ></i>
              Save
            </button>
            <button class="btn btn-outline-dark" (click)="reset()">
              <i class="fas fa-undo"></i> Reset
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="cancel()"
              [disabled]="cancelLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': cancelLoading, 'far fa-times-circle': !cancelLoading}"
              ></i>
              Cancel
            </button>
          </div>
        </p-dialog>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
