<div class="container-scroller">
  <app-header></app-header>
  <div class="container-fluid page-body-wrapper">
    <div class="main-panel">
      <div class="content-wrapper">
        <p-toast position="bottom-center" key="t1"></p-toast>
        <p-confirmDialog
          [style]="{width: '30vw'}"
          [baseZIndex]="10000"
          key="c1"
        ></p-confirmDialog>
        <div class="row mt-4 mb-4">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Study Material Master</h4>
                <div *ngIf="menuAccess">
                  <p-table
                    #dt
                    [value]="materialMaster"
                    [rows]="10"
                    [paginator]="true"
                    [loading]="loading"
                    [globalFilterFields]="['StudyMaterialMaster_filetype','StudyMaterialMaster_location']"
                    [rowsPerPageOptions]="[10,25,50]"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [totalRecords]="totalRecords"
                    [showCurrentPageReport]="true"
                  >
                    <ng-template pTemplate="colgroup">
                      <colgroup>
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                        <col style="width: 200px;" />
                      </colgroup>
                    </ng-template>
                    <ng-template pTemplate="caption">
                      <div class="row justify-content-between">
                        <div class="col-md-3">
                          <button class="btn btn-primary" (click)="add()">
                            Add New
                            <i class="mdi mdi-plus-circle-multiple-outline"></i>
                          </button>
                        </div>
                        <div class="col-md-3">
                          <!-- <button
                type="button"
                class="btn btn-success"
                (click)="exportExcel()"
                pTooltip="CSV"
                tooltipPosition="bottom"
              >
                <i class="fas fa-file-excel"></i> Export Excel
              </button> -->
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                          <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                              pInputText
                              type="search"
                              (input)="dt.filterGlobal($event.target.value, 'contains')"
                              placeholder="Search..."
                            />
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr class="text-center">
                        <th pSortableColumn="StudyMaterialMaster_filetype">
                          File Type
                          <p-sortIcon field="StudyMaterialMaster_filetype">
                          </p-sortIcon>
                        </th>
                        <th pSortableColumn="StudyMaterialMaster_location">
                          Location
                          <p-sortIcon field="StudyMaterialMaster_location">
                          </p-sortIcon>
                        </th>

                        <th>Action</th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-material
                      let-ri="rowIndex"
                    >
                      <tr>
                        <td>{{material.StudyMaterialMaster_filetype}}</td>
                        <td>
                          {{material.StudyMaterialMaster_location}}
                        </td>

                        <td>
                          <button
                            class="btn btn-warning mr-4"
                            (click)="edit(material)"
                          >
                            <i class="mdi mdi-pencil-box"></i>
                          </button>

                          <button
                            class="btn btn-danger"
                            (click)="delete(material.StudyMaterialMaster_id)"
                          >
                            <i class="mdi mdi-delete"></i>
                          </button>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td colspan="3" style="text-align: center;">
                          <h4>No Records Found.</h4>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
                <div class="container align-item-center" *ngIf="!menuAccess">
                  <h1 class="text-center" style="padding: 80px 20px;">
                    OOPS!!! You don't have access to this Page...
                  </h1>
                  <p class="text-center">Please Contact Administrator</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p-dialog
          [contentStyle]="{'overflow':'visible'}"
          header="Study Material Master"
          [(visible)]="displayBasic"
          [style]="{width: '80vw'}"
          [baseZIndex]="10000"
          [closable]="false"
          [maximizable]="true"
        >
          <p-toast key="t2"></p-toast>
          <p-confirmDialog
            [style]="{width: '30vw'}"
            [baseZIndex]="10000"
          ></p-confirmDialog>
          <div class="row justify-content-center">
            <div class="co1-12 col-8">
              <form class="forms-sample" [formGroup]="materialMasterForm">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">File Type</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      pInputText
                      class="form-control"
                      placeholder="File Type"
                      formControlName="StudyMaterialMaster_filetype"
                    />
                    <div
                      *ngIf="submitted && f.StudyMaterialMaster_filetype.errors"
                      class="alert alert-danger"
                    >
                      <div
                        *ngIf="f.StudyMaterialMaster_filetype.errors.required"
                      >
                        File type is required
                      </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="duplicateError">
                      File Type already exist
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Location</label>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      pInputText
                      class="form-control"
                      placeholder="Location"
                      formControlName="StudyMaterialMaster_location"
                    />
                    <div
                      *ngIf="submitted && f.StudyMaterialMaster_location.errors"
                      class="alert alert-danger"
                    >
                      <div
                        *ngIf="f.StudyMaterialMaster_location.errors.required"
                      >
                        Location is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label">Skill Level</label>
                  <div class="col-sm-6">
                    <p-dropdown
                      [options]="skillLevelDropdown"
                      [filter]="true"
                      [showClear]="true"
                      placeholder="Select Skill Level"
                      [resetFilterOnHide]="true"
                      formControlName="StudyMaterialMaster_skilllevelid"
                    >
                    </p-dropdown>
                    <div
                      *ngIf="submitted && f.StudyMaterialMaster_skilllevelid.errors"
                      class="alert alert-danger"
                    >
                      <div
                        *ngIf="f.StudyMaterialMaster_skilllevelid.errors.required"
                      >
                        Skill level is required
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-around">
            <button
              class="btn btn-outline-primary"
              (click)="save()"
              [disabled]="saveLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': saveLoading, 'fas fa-save': !saveLoading}"
              ></i>
              Save
            </button>
            <button class="btn btn-outline-dark" (click)="reset()">
              <i class="fas fa-undo"></i> Reset
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="cancel()"
              [disabled]="cancelLoading"
            >
              <i
                [ngClass]="{'fa fa-spin fa-spinner': cancelLoading, 'far fa-times-circle': !cancelLoading}"
              ></i>
              Cancel
            </button>
          </div>
        </p-dialog>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
